nav{
    color: white;
    height: 25px;
    background-color: black;
    
    
}
img{
    /* height: 100px;
    width: 100px; */
    color: white;
    margin-right: 10%;
}
#cdn{
    color: red;
}


aside{
    margin-left: 75%;
    margin-top: -20%;
    color: white;
    }
section{
    color: white;
    margin-left: 20%;
    margin-top: 10%;
}

footer{
    background-color:red;
    
}
#abc{
    margin-left: 60%;
    margin-top: -17%;
    height: 400px;
    width: 400px;
    
   
}
#web{
    margin-top: -30%;

}
body{
    background-color: black;
}
