img{
    /* filter: blur(10px);
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(-20px -40px 20px red);
    filter: grayscale(250);
    filter: hue-rotate(250deg);
    filter: invert(120%);
    filter: opacity(25%);
    filter: saturate(380%);
    filter: sepia(80%); */
    height: 200px;
    width: 200px;
    filter: drop-shadow(20px 40px red);
}